<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_circular"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZeitKreis"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".IniciarSesion"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MenuPrincipal" />

        <activity
            android:name=".Registro" />

        <activity
            android:name=".Agendas" />

        <activity
            android:name=".CalendarioGeneral" />

        <activity
            android:name=".Amigos" />

        <activity
            android:name=".Perfil" />

        <activity
            android:name=".AjustesGenerales" />

        <activity
            android:name=".CambiarContraseña" />

        <activity
            android:name=".CrearAgenda" />

        <activity
            android:name=".AgendaFragments"
            tools:ignore="Instantiatable" />

    </application>

</manifest>